.list-items(id=id, v-bind:class='classes')
  .list-items--header.base-pointer(v-on:click='toggle()')
    | #{title}
  .list-items--content(v-bind:style='styles')
    .list-items--item.base-pointer(v-for='item in items', v-on:click='active(item)', v-bind:class='itemClasses(item)')
      | {{ item.name }}
  .list-items--loader(v-if='loading')
