.list-items(id=id, v-bind:class='classes')
  block header
    .list-items--header.base-pointer(v-on:click='toggle()')
      | #{title}
  block content
    .list-items--content(v-bind:style='styles')
      block items
        .list-items--item.base-pointer(v-for='item in items')
          | {{ item }}
  block loader
    .list-items--loader.loader-infinity(v-if='loading')
