#repo-list
  .list-items--header
    display: flex

  .list-items--header-title
    width: 100%
    padding: 10px
    line-height: 20px

  .list-items--header-count
    white-space: nowrap
    padding: 10px
    line-height: 20px

  .list-items--header-add
    padding: 5px
    margin: 5px
    line-height: 20px
    min-width: 20px
    height: 20px
    border: 1px solid
    border-radius: 100%
    text-align: center
    &:hover
      background: cyan
