extends /lists/list-items/list-items

block header
  .list-items--header.base-pointer(v-on:click='toggle()')
    .list-items--header-title
      | #{title}
    .list-items--header-count
      | {{ count }}
    .list-items--header-add(v-on:click.stop='addRepo()')
      | +

block items
  .list-items--item.base-pointer(v-for='item in items')
    | {{ item }}
