.command-overlay.base-tools(id=id, v-if='show', v-bind:class='status.classes', v-on:keyup.prevent='keyup')
  .command-overlay--content
    .command-overlay--header(v-if='status.input')
      input.command-overlay--input(type='text', v-model='input', ref='input')
    .command-overlay--options(v-bind:style='styles')
      .command-overlay--option.base-pointer(v-for='option in options', v-bind:class='option.classes', v-on:click='action(option)', v-if='option.show')
        | {{ option.name }}
