.command-overlay(id=id, v-if='show')
  .command-overlay--content
    .command-overlay--header
      input.command-overlay--input(type='text', v-model='input', v-on:keyup.up='goFocus(-1)', v-on:keyup.down='goFocus(1)')
    .command-overlay--options(v-bind:style='styles')
      .command-overlay--option.base-pointer(v-for='(option, index) in options', v-bind:class='getClasses(index)')
        | {{ option.name }}

